body {
    margin: 0;
    padding: 0;
    background: #333;
}
#header {
    height: 100vh;
    color: white;   
}
#bg-img {
    background: url('CoverBackground.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    z-index: -1;
    height: 100vh;
    width: 100%;
    opacity: .8;
    top: 0;
}
#headerContent {
    padding-top: 40vh;
    text-align: center;
}
#headerContent h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
}
#headerContent p {
    margin: 0 25%;
}
#headerContent a {
    text-decoration: none;
    padding: 10px 2em;
    color: beige;
    line-height: 30px;
    font-size: 1.7em;
    border: solid 1px gray;
    text-transform: uppercase;
    transition: linear 0.5s;
}
#headerContent a:hover {
    border: black solid 1px;
    background: rgba(0, 0, 0, .5);
    color: chocolate;
}

footer {
    height: 200px;
}
#devToolList {
    float: left;
    width: 50%;
    height: 100%;
    background: #066860;
    text-align: center;
}
#DTLcontent {
}
#otherInfo {
    float: right;
    width: 50%;
    height: 100%;
}

.projectList {
    margin-top: 1em;
}















/* Dog Generator CSS */
.dogContainer {
    height: 380px;
    width: 450px;
    border: dashed salmon;
    background: white;
    color: black;
    text-align: center;
}
.dogContainer p {
    text-transform: uppercase;
}
.dogContainer img {
    height: 250px;
    margin: auto;
}
.DoggoBtn {
    text-decoration: none;
    background: lightblue;
    line-height: 20px;
    font-size: 25px;
    padding: 0 5px;
    border: solid 1px black;
}
.DoggoBtn:hover {
    background: #08fcbf;
    color: red;
}
/* Dog Generator CSS */


@media only screen and (max-width:500px){
    #headerContent {
        padding-top: 7vh;
    }
    #headerContent h1 {
        font-size: 3em;
    }
    .dogContainer {
        width: 100%;
    }
}
@media only screen and (max-width:700px) and (min-width: 500px){
    #headerContent {
        padding-top: 15vh;
    }
    #headerContent h1 {
        font-size: 3em;
    }
}