* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(99, 89, 91);
}



@media (min-width:700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    #header {
        grid-column: 2/4;
    }
}